<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/admin/panel.css")
    title Admin Panel
  body
    .data-wrapper
      for i in Object.keys(numericData)
        .data
          span.title= numericData[i].title
          span.value= numericData[i].value
      .data.tableData
        span.title= tabularData.reports.title
        .table
          for report in tabularData.reports.value
            .tableCell
              span.tableValue #{report.from.user.firstName} #{report.from.user.lastName}
              span.tableValue= report.post.topic
              span.tableValue= report.post.text
              span.tableValue= report.fromNow
